<html>
	<head>
		<title>Gabe's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>

		<div>
			<p>published: 10.7.2015, 1410</p>
			<h2><a href="">My first post</a></h2>
			<p>I once was a man, but now I'm machine.  You thought I was blind, but now I am seen.</p>
		</div>

		<div>
			<p>published: 10.7.2015, 1412</p>
			<h2><a href = "">My second post</a></h2>
			<p>I stand amongst a city of tyrants, small are loud and some are silent.</p>
		</div>
	</body>
</html>